.header {
	padding: 15px 0;
	box-shadow: 0 1px rgba(0, 0, 0, 0.05);
}

.header-floating {
	-webkit-transform: translateX(-150%);
	-moz-transform: translateX(-150%);
	-ms-transform: translateX(-150%);
	-o-transform: translateX(-150%);
	transform: translateX(-150%);
}

.header.header-show .header-floating {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.header-floating .header-top {
	padding: 15px 0;
	box-shadow: 0 1px rgba(0, 0, 0, 0.05);
}

.header-floating .header-body {
	flex: 1 1 0;
	overflow-y: auto;
}

.header-floating .header-body .header-navigation {
	padding-left: 20px;
	padding-right: 20px;
}

.header-floating .header-body .header-navigation ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.header-floating .header-body .header-navigation ul li {
	margin-top: 26px;
}

.header-floating .header-body .header-navigation > ul > li:first-child {
	margin: 0;
	padding-top: 10px;
}

.header-floating .header-body .header-navigation > ul > li + li {
	border-top: 1px solid #E4E4E4;
	padding-top: 26px;
}

.header-floating .header-body .header-navigation ul li a {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--bs-black);
	font-size: 1.15em;
}

.header-floating .header-body .header-navigation ul li li a {
	padding-left: 16px;
}

.header-floating .header-body .header-navigation ul li a svg {
	transition: transform .3s ease-in-out;
}

.header-floating .header-body .header-navigation ul li a:active,
.header-floating .header-body .header-navigation ul li a[aria-expanded=true] {
	color: var(--primary-color);
}

.header-floating .header-body .header-navigation ul li a[aria-expanded=true] svg {
	transform: rotate(180deg);
	stroke: var(--primary-color);
}

.section-hero {
	margin-top: 38px;
}

.section-hero .hero-title {
	padding: 60px 0 85px;
}

.section-hero:after {
	background-image: var(--bg);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 100%;
	inset: 0;
	pointer-events: none;
}

.footer .footer-item:not(.footer-item_highlight) .footer-item_link svg {
	width: 24px;
	height: 24px;
}

.footer .footer-item.footer-item_highlight .footer-item_link {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	box-shadow: 0 5px 24px rgba(170, 170, 170, 0.44) !important;
	background-color: var(--bs-white);
	margin: 0 auto;
}

.footer .footer-item .footer-item_link {
	--color: #ADB4BB;
	white-space: nowrap;
	color: var(--color);
	font-size: .875em;
	font-weight: 500;
	border: 0;
	background-color: transparent;
	padding: 0;
	outline: none;
	box-shadow: none;
}

.footer .footer-item .footer-item_link > svg {
	fill: var(--color);
	transition: var(--transition-default);
}

.footer .footer-item .footer-item_link:hover,
.footer .footer-item .footer-item_link.is-active {
	--color: var(--bs-gray-900);
}

.footer .footer-floating {
	border-radius: 24px 24px 0 0;
	bottom: -120%;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.footer .footer-floating .footer-floating_button {
	top: -40px;
}

.footer .footer-floating .footer-floating_grid {
	box-shadow: 0px 5.759913921356201px 11.519827842712402px 0px rgba(71, 71, 71, 0.04), 0px 20px 90px -30px rgba(26, 137, 23, 0.10);
	width: calc(50% - 0.25rem);
}

.footer .footer-floating .footer-floating_grid:first-child {
	border-radius: 16px 0 0 16px;
}

.footer .footer-floating .footer-floating_grid:last-child {
	border-radius: 0 16px 16px 0;
}

.footer .footer-floating .footer-floating_grid .footer-floating_item {
	box-shadow: 0 10px 24px rgba(179, 215, 183, 0.2);
	font-size: 1.075em;
	white-space: nowrap;
}

.footer .footer-floating .footer-floating_item svg {
	flex-shrink: 0;
}

.footer .footer-overlay {
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: rgba(0, 0, 0, .4);
}

.footer.footer-show .footer-floating,
.footer.footer-show .footer-overlay {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.footer.footer-show .footer-floating {
	bottom: 0;
}

.feature-item {
	padding: 10px;
	box-shadow: 0px 5.759913921356201px 11.519827842712402px 0px rgba(71, 71, 71, 0.04), 0px 20px 90px -30px rgba(26, 137, 23, 0.10);
	border-radius: 16px;
}

.feature-item .feature-item_title {
	margin-top: 8px;
}

.statistical-inner {
	border-radius: 20px;
}

.statistical-inner .statistical-inner_grid {
	gap: 12px;
}

.statistical-inner .statistical-inner_grid + .statistical-inner_grid {
	padding-top: 8px;
	margin-top: 8px;
	border-top: 1px solid #F2F2F2;
}

.statistical-inner .statistical-item {
	width: 50%;
	gap: 12px;
}

.statistical-inner .statistical-item .statistical-item_sub {
	color: #ADB4BB;
	font-weight: 500;
	font-size: 1.075em;
}

.statistical-inner .statistical-item .statistical-item_wrapper {
	padding: 15px;
}

.statistical-inner .statistical-item .statistical-item_wrapper .heading-5 {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.statistical-inner .statistical-item .statistical-item_wrapper .statistical-item_icon {
	width: 40px;
	height: 40px;
	margin-left: auto;
}

.section-wallet {
	transform: translateY(-35px);
	margin-bottom: -19px;
}

.section-wallet.shadow-pseudo:after {
	bottom: -16px;
}

.wallet-inner {
	border-radius: 16px;
	box-shadow: 0px 10px 24px 0px rgba(229, 255, 232, 0.17);
}

.wallet-inner .wallet-balance > button > svg {
	height: 20px;
	width: 20px;
}

.floating-copy {
	position: fixed;
	right: 14px;
	top: 70px;
	z-index: 10;
}

.floating-copy > a {
	box-shadow: 0px 5.759913921356201px 11.519827842712402px 0px rgba(71, 71, 71, 0.04), 0px 20px 90px -30px rgba(26, 137, 23, 0.10);
	border-radius: 8px;
	padding: 8px;
	font-size: 1em;
	line-height: 22px;
	background: #212C28;
	gap: 8px;
}

.chart-inner {
	border-radius: 20px;
}

.chart-inner .nav-tabs .nav-item .nav-link {
	--color: #ADB4BB;
	font-size: 1.15em;
	font-weight: 700;
	line-height: 130%;
	color: var(--color);
	transition: var(--transition-default);
	padding: 0;
}

.chart-inner .nav-tabs .nav-item .nav-link svg {
	stroke: var(--color);
	transition: var(--transition-default);
	width: 22px;
	height: 22px;
}

.chart-inner .nav-tabs .nav-item .nav-link.active {
	--color: var(--primary-color);
}

.chart-inner .nav-tabs .nav-item + .nav-item {
	padding-left: 24px;
	margin-left: 24px;
	border-left: 1px solid #ADB4BB;
}

.chart-inner .chart-content {
	padding-top: 24px;
}

.chart-inner .chart-content .chart-select {
	padding-bottom: 24px;
}

.chart-inner .chart-content .chart-select .form-select {
	border-radius: 40px;
	padding: 6px 12px;
	background-color: #eaebf0;
	font-size: 1em;
	line-height: 135%;
	color: #444;
	border: 0;
	outline: none;
	box-shadow: none;
}